doctype html
html
    head
        title Add bills
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet' type='text/css')
        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    body
        div(class='container' style='margin-top:30px;')
            div(class='row')
                h1 Recent Bills:
                hr
                form(action='/submit' method='post')
                    div(class='form-check')
                        each bill in bills
                            if bill.short_title
                                - var title = bill.short_title
                                if bill.summary
                                    - var summary = bill.summary
                                else
                                    - var summary = bill.title
                            else
                                - var title = bill.title
                                - var summary = bill.summary
                            div(class=checkbox)
                                input(name=bill.bill_slug id=bill.number type='checkbox' class='form-check-input')
                                label(for=bill.number class='form-check-label')
                                    p= 'Title: ' + bill.number + ' ' + title
                                    p= 'Sponsor: ' + bill.sponsor_title + ' ' + bill.sponsor_name
                                    p= 'Summary: ' + summary
                                    p= 'Committee(s): ' + bill.committees
                                    p= 'Latest Major Action: ' + bill.latest_major_action
                                    p= 'Date: ' + bill.latest_major_action_date
                            hr
                        input(type='password', class='form-control', id='password' placeholder='Password...', name='password')
                        label(for='password')
                        button(type='submit' class='btn btn-primary' style='margin-bottom:30px;margin-top:20px;') Submit